footer{
    width:auto;
    height: 50px;
    background:rgb(2, 68, 83); 
    display:flex;
    align-items:center;
    justify-content:center;
}

footer h1{
    color: #fff;
    margin-left: 20px;
    font-size: 15px;
}
